@import "tailwindcss";

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.line-clamp-2-custom {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}